mat-toolbar
{
  background-color: #6fada0;
  color: black;

}
.example-spacer {
    flex: 1 1 auto;
  }
  .selectform{
    margin-top: 50px;
    margin-left: 30%;
    /* display: flex; */
  }
  .background{
    background-color: #6fada0;
   
  }