<form [formGroup]="Purchasingticketformgroup" (ngSubmit)="add()" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Passenger Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input #inputusername formControlName="PassengerName" matInput placeholder="Enter your name">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input #inputphone formControlName="PassengerPhone" matInput placeholder="Enter phone Number">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width">
              <input  formControlName="PassengerAge" matInput placeholder="Enter Your Age">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="full-width">
              <input type="number"  formControlName="Tickets Number" matInput placeholder="Enter Tickets Number">
            </mat-form-field>
          </div>
         </div>
         <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="TripID" matInput placeholder="TripID">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="TripFare" matInput placeholder="TripFare">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" >Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
