<form [formGroup]="Bookform" (ngSubmit)="bookTicket()" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'Passenger Information'|translate}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-md-7">
          <mat-form-field class="full-width">

            <input formControlName="PassengerName" [class.is-invalid]="isInValidAndTouched('PassengerName')"
              [class.is-valid]="isValidControl('PassengerName')" matInput placeholder="{{'Enter your name'|translate}}">
          </mat-form-field>

          <div *ngIf="isInValidAndTouched('PassengerName')">
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerName','required')">
              {{'PassengerName is required'|translate}} </small>
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerName','minlength')">
              {{'Min length is 3'|translate}}</small>
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerName','maxlength')">
              {{'Max length is 25'|translate}}</small>
          </div>
          <!-- <span class="text-danger" *ngIf="(name.touched || submitted) && name.errors?.['required']">
            {{'PassengerName is required'|translate}}
          </span> -->
        </div>
        <div class="col-md-7">
          <mat-form-field class="full-width">
            <input formControlName="PassengerEmail" matInput placeholder="{{'Enter your Email'|translate}}">
          </mat-form-field>
          <div *ngIf="isInValidAndTouched('PassengerEmail')">
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerEmail','required')">
              {{'Required Email'|translate}}</small>
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerEmail','email')">
              {{'Invalid Email'|translate}} </small>
          </div>
          <!-- <span class="text-danger" *ngIf="(phone.touched || submitted) && phone.errors?.['required']">
            {{'PassengerPhone is required'|translate}}
          </span> -->
        </div>

        <!-- <div class="row"> -->
        <div class="col-sm-7">
          <mat-form-field class="full-width">
            <input formControlName="PassengerAge" type="number"matInput placeholder="{{'Enter Your Age'|translate}}">
          </mat-form-field>
          <div *ngIf="isInValidAndTouched('PassengerAge')">
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerAge','required')">
              {{'PassengerAge is required'|translate}} </small>
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerAge','min')">
              {{'Min Age is 18'|translate}}</small>
            <small class="form-text text-danger" *ngIf="isControlHasError('PassengerAge','max')">
              {{'Max Age is 100'|translate}}</small>
          </div>
     
        </div>
        <div class="col-md-7">
          <mat-form-field class="full-width">
            <input type="number" formControlName="TicketsNumber" matInput placeholder="{{'NumberOfTickets'|translate}}">
          </mat-form-field>
          <div *ngIf="isInValidAndTouched('TicketsNumber')">
            <small class="form-text text-danger" *ngIf="isControlHasError('TicketsNumber','required')">
              {{'TicketsNumber is required'|translate}} </small>
            <small class="form-text text-danger" *ngIf="isControlHasError('TicketsNumber','min')">
              {{'Min Number of Tickets is 1'|translate}}</small>
            <small class="form-text text-danger" *ngIf="isControlHasError('TicketsNumber','max')">
              {{'Max Number of Tickets is 10'|translate}}</small>
          </div>
       <!-- <input formControlName="Flightid" type="hidden"> -->
        </div>

      </div>

      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="accent" selected>{{'Flight Number'|translate}} : {{flight.id}}</mat-chip>
        <mat-chip color="accent" selected>{{'Ticket Cost'|translate}} : {{flight.fare|currency}} </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="background" [disabled]="!Bookform.valid" type="submit">{{'Book Now'|translate}}</button>
    </mat-card-actions>
  </mat-card>
</form>
