<form [formGroup]="Purchasingticketformgroup" (ngSubmit)="purchTicket()" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'Passenger Information'|translate}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <div class="row">
        <div class="col-md-7">
          <mat-form-field class="full-width">
          
            <input formControlName="PassengerName" matInput placeholder="{{'Enter your name'|translate}}">
          </mat-form-field>
          <span class="text-danger"
          *ngIf="(name.touched || submitted) && name.errors?.['required']">
          PassengerName is required
        </span>
      </div>
      <div class="col-md-7">
        <mat-form-field class="full-width">
          <input  formControlName="PassengerPhone" matInput placeholder="{{'Enter phone Number'|translate}}">
        </mat-form-field>
        <span class="text-danger"
        *ngIf="(phone.touched || submitted) && phone.errors?.['required']">
        PassengerPhone is required
      </span>
    </div>
    
    <!-- <div class="row"> -->
        <div class="col-sm-7">
          <mat-form-field class="full-width">
            <input  formControlName="PassengerAge" matInput placeholder="{{'Enter Your Age'|translate}}">
          </mat-form-field>
          <span class="text-danger"
                              *ngIf="(age.touched || submitted) && age.errors?.['required']">
                              PassengerAge is required
                          </span>
        </div>
        <!-- </div> -->
        <div class="col-md-7">
        <mat-form-field class="full-width">
          <input type="number" formControlName="TicketsNumber" matInput placeholder="{{'NumberOfTickets'|translate}}">
        </mat-form-field>
        <span class="text-danger"
        *ngIf="(num.touched || submitted) && num.errors?.['required']">
                              TicketsNumber is required
                          </span>
      </div>
     
    </div>
    
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="accent" selected>{{'Flight Number'|translate}} : {{flight.id}}</mat-chip>
      <mat-chip color="accent" selected>{{'Ticket Cost'|translate}} : {{flight.fare}} </mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="background" type="submit">{{'Book Now'|translate}}</button>
    </mat-card-actions>
  </mat-card>
</form>